<div class="recipe-ingredient row">
  <div class="col-xs-3">
    <input class="form-control recipe-amount-field" id="recipe_ingredients_attributes_{{id}}_amount" name="recipe[ingredients_attributes][{{id}}][amount]" size="30" type="text">
  </div>
  <div class="col-xs-9">
    <input class="form-control" id="recipe_ingredients_attributes_{{id}}_title" name="recipe[ingredients_attributes][{{id}}][title]" size="30" type="text">
  </div>
</div>