/.bundle
/db/*.sqlite3
/log/*.log
/tmp
config/database.yml
*.dump
.env
public/system/*/.vagrant/
/.vagrant
/public/system
/public/packs
/public/packs-test
/public/assets
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
