<header>
  <a href="<%= new_recipe_path %>" class="btn btn-default pull-right"><i class="glyphicon glyphicon-plus"></i> Nouvelle recette</a>
  <h1>Recettes</h1>
</header>

<% @recipes.keys.sort.each do |starting_letter| %>
  <h4 class="text-muted"><%= starting_letter %></h4>
  <div class="list-group">
    <% @recipes[starting_letter].each do |recipe| %>
      <%= link_to(recipe.title, recipe_path(recipe.id), :class => 'list-group-item') %>
    <% end %>
  </div>
<% end %>
