<span class="btn-group pull-right">
  <%= link_to 'Edit', edit_recipe_path(@recipe), :class => 'btn btn-default'
%><%= link_to 'Delete', recipe_path(@recipe), :method => 'delete', :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger' %>
</span>
<h1><%= @recipe.title %></h1>
<% @recipe.ingredients.each do |ingredient| %>
  <%= ingredient.title %><br />
<% end %>
