<div class="panel panel-danger">
  <div class="panel-heading">
    <%= t('errors.form.title', :count => errors.count) %>
  </div>
  <div class="panel-body">
    <ul>
    <% errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
</div>