<div class="panel panel--danger mrgb">
  <div class="panel__header">
    <%= t('errors.form.title', :count => errors.count) %>
  </div>
  <div class="panel__body">
    <ul class="mrgv0">
    <% errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
</div>
