<% if @random_recipe.present? %>
  <article class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= t('recipes.randomly') %></h3>
    </div>
    <div class="panel-body">
      <div class="list-group">
        <%= render 'recipes/group_item', :recipe => @random_recipe %>
      </div>
    </div>
  </article>
<% end %>

<% if @recipes.present? %>
  <article class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= t('recipes.recently_added') %></h3>
    </div>
    <div class="panel-body">
      <div class="list-group">
        <% @recipes.each do |recipe| %>
          <%= render 'recipes/group_item', :recipe => recipe %>
        <% end %>
      </div>
    </div>
  </article>
<% end %>