<article class="recent-recipes">
  <h2><%= t('recipes.recently_added') %></h2>
  <div class="list-group">
    <% @recipes.each do |recipe| %>
      <%= link_to recipe_path(recipe.id), :class => 'list-group-item recipe' do %>
        <h4 class="list-group-item-heading"><%= recipe.title %></h4>
        <% if(recipe.time.present?) %>
          <p class="list-group-item-text text-muted"><i class="fa fa-clock-o spaced-right"></i> <%= t('recipes.time', :count => recipe.time) %></p>
        <% end %>
      <% end %>
    <% end %>
  </div>
</article>