<%- title "#{@tag.title} · #{t('activerecord.models.tag')}" %>

<header class="page-header">
  <h1><span class="text-muted">#</span><%= @tag.title %></h1>
</header>

<% if @recipes.present? %>
  <ul class="list-stacked list-stacked--divided">
    <% @recipes.each do |recipe| %>
      <li><%= render 'recipes/group_item', :recipe => recipe %></li>
    <% end %>
  </ul>
<% else %>
  <p class="alert alert--info"><%= t('recipes.empty') %></p>
<% end %>
