<%- title "#{@tag.title} · #{t('activerecord.models.tag.one')}" %>
<% content_for :container_class { "container--small" } %>

<h1><span class="text-muted">#</span><%= @tag.title %></h1>

<% if @recipes.present? %>
  <ul class="list-stacked list-stacked--divided">
    <% @recipes.each do |recipe| %>
      <li><%= render 'recipes/group_item', :recipe => recipe %></li>
    <% end %>
  </ul>
<% else %>
  <p class="text-muted"><%= t('recipes.empty') %></p>
<% end %>

<%= paginate @recipes %>
