/**
 * Variables
 * Mostly to customize Bootstrap
 */

$brand-primary: #8363b4;
$gray-dark: #444;
$body-bg: #efefef;
$well-bg: white;

$nav-link-hover-bg: lighten($brand-primary,5%);

$headings-font-weight: 400;

$list-group-border: $body-bg;
$list-group-hover-bg: #fcfcfc;