/*----------------------------------------*\
  ALERT
\*----------------------------------------*/

.alert {
  padding: $spacing-unit-small;

  color: white;

  background-color: $alt-color-500;
  border-radius: $border-radius-default;
}

.alert--danger {
  background-color: $danger-color;
}

.alert--info {
  background-color: $info-color;
}
