/*----------------------------------------*\
  ICON
\*----------------------------------------*/

.icon {
  margin-bottom: -3px;

  vertical-align: middle;

  position: relative;
  top: -3px;

  fill: none;
  stroke: currentColor;
}

.icon--100 {
  width: 24px;
  height: 24px;
}

.icon--75 {
  width: 18px;
  height: 18px;
}
