/**
 * EXTEND/OVERRID BOOTSTRAP
 */


// Layout

.page-header {
  margin-top: 0;
  padding-bottom: 0;
  border-bottom: none;

  h1 {
    margin: 0;
  }
}

.well {
  border: none;
  @include box-shadow(0 1px 2px rgba(0,0,0,.1));
}

// No extra space at the beginning or end of containers
.page-header,
.well,
.panel-body,
.list-group-item {
  word-wrap: break-word;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}


// Buttons

.btn-muted {
  @extend .btn-link;
  color: $text-muted;

  &:hover,
  &:focus {
    color: $gray;
  }
  &:active,
  &.active {
    color: $gray-dark;
  }
}



// Lists

.list-inline > li {
  vertical-align: top;
}

.list-group-item {
  border-left: 0;
  border-right: 0;

  &:first-child {
    border-top: 0;
  }

  &:last-child {
    border-bottom: 0;
  }
}


// Media

img.media-object {
  border-radius: 3px;
  max-width: 30%;
  height: auto;
}


// Panels

.panel-list .panel-body {
  padding: 0;
}


// Tables

.table tbody tr:first-child td {
  border-top: none;
}


// Forms

.form-horizontal .control-label {
  text-align: left;
}

.input-group-addon .checkbox-inline {
  padding-top: 0;
}

input[type="search"] {
  -webkit-appearance: none;
}


// Icons

// Add space between icons and text
.spaced-right {
  margin-right: 0.333em;
}
.spaced-left {
  margin-left: 0.333em;
}
