/**
 * Layout
 */

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

.container {
  margin: 0;
  width: auto;
}

.site-wrapper {
  height: 100%;
  @include display-flex;
  @include flex-direction(column);
}

.site-header {
  padding: 10px 0;

  position: relative;
  z-index: 1;

  background-color: white;
  @include box-shadow(0 1px 3px rgba(0,0,0,.1));

  .brand {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 34px;

    a:hover {
      text-decoration: none;
    }
  }
}

.site-content {
  @include display-flex;
  @include flex(1);
}

.devise-content {
  width: 300px;
  margin: 0 auto;
  padding-top: 40px;
}

.site-nav {
  background-color: darken($brand-primary, 10%);

  .nav > li {
    > a {
      display: block;
      height: 54px;
      padding: 0 16px 0 10px;

      color: white;
      line-height: 54px;
      vertical-align: middle;

      i {
        line-height: inherit;
        vertical-align: inherit;
      }

      &:hover {
        background-color: lighten($brand-primary,5%);
      }
    }

    &.active a {
      background-color: $brand-primary;
    }
  }
}

.page-sidebar {
  width: 200px;
  padding: 10px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: $brand-primary;

  a {
    color: $gray-lighter;
  }

  .badge {
    background-color: darken($brand-primary, 10%);
  }
}

.page-content {
  padding: 20px;
  @include flex(6);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
  .page-content-inner {
    max-width: 724px;
  }


// Responsiveness

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: $screen-sm-min) {
  .site-nav {
    display: block !important;
    height: auto !important;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .site-nav .nav > li > a {
    padding: 0 10px;
  }
  .site-nav__icon {
    margin-right: 0;
  }
  .site-nav__text {
    display: none;
  }
}

@media (max-width: $screen-xs-max) {
  .site-nav {
    width: 100%;

    position: absolute;
    top: 54px;
    right: 0;
    left: 0;
    z-index: 1;
  }

  .page-sidebar {
    display: none;
  }
}