/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *
 *= require font-awesome
 */

$brand-primary: #8363b4;
$gray-dark: #444;
$body-bg: rgb(248,248,248);
$well-bg: white;

$headings-font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B';
$headings-font-weight: 400;

@import "bootstrap-custom";

/**
 * Layout
 */

body {
  padding-bottom: 60px;
  border-top: 3px solid $brand-primary;
}

.container {
  max-width: 970px;
}

.header {
  margin-bottom: 30px;
  padding: 20px 0;

  background-color: white;
  @include box-shadow(0 1px 2px rgba(0,0,0,.1));
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;

  a:hover {
    text-decoration: none;
  }
}

.index-letter {
  position: absolute;
  right: 100%;
}