@import "common";

/**
 * Recipes
 */

.recipe-ingredient ~ .recipe-ingredient {
  margin-top: 8px;
}

.recipe-step {
  font-size: 18px;
  font-weight: 300;
}

.recipe-step-index {
  color: $gray-light;
  font-weight: 300;
}