<% if flash[:error] -%>
  <div class="alert alert--danger media media--small mrgb">
    <div class="media__left">
      <%= render 'shared/icon', id: 'danger', classnames: 'icon--100' %>
    </div>
    <div class="media__body">
      <%=h flash[:error] %>
    </div>
  </div>
<% end -%>
<% if flash[:notice] -%>
  <div class="alert alert--info media media--small mrgb">
    <div class="media__left">
      <%= render 'shared/icon', id: 'info', classnames: 'icon--100' %>
    </div>
    <div class="media__body">
      <%=h flash[:notice] %>
    </div>
  </div>
<% end -%>
