<header class="site-header">
  <div class="container">
    <h3 class="brand pull-left"><a href="/">Cookr</a></h3>

    <button type="button" data-toggle="collapse" data-target=".site-nav" class="visible-xs btn btn-default pull-right"><%= t('nav.menu') %></button>
  </div>
</header>
