<title>Cookr</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<%= stylesheet_link_tag "application", :media => "all" %>

<link rel="icon" type="image/png" href="favicon.png" />
<link rel="apple-touch-icon" href="touch-icon-iphone.png">
<link rel="apple-touch-icon" sizes="76x76" href="touch-icon-ipad.png">
<link rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina.png">
<link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-retina.png">

<%= csrf_meta_tags %>
